<div class="nuestro-equipo__container">
  <div class="nuestro-equipo__content">
    <div class="nuestro-equipo__title">
      <p>Nuestro Equipo</p>
    </div>
    <div class="nuestro-equipo__subtitle">
      <p>Centenario, solo si quieres lo mejor</p>
    </div>

    <div class="nuestro-equipo__cards">
      <div class="card">
        <img src="/assets/images/quienes-somos/card1.png" alt="" />
        <div class="card-name">
          <p>Gaela Reategui Perez</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/images/quienes-somos/card2.png" alt="" />
        <div class="card-name">
          <p>Mirko Kresevic Alvarado</p>
        </div>
      </div>
    </div>

    <div class="flex__center">
      <div class="contact__button">
        <a href="/contacto" style="color: white;">Contáctanos</a>
        <div class="arrow">
          <img src="/assets/images/icons/arrow-white.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
