<section class="section__one container">
  <app-terrain-detail-breadcrumbs
    [terrainData]="terrainData"
  ></app-terrain-detail-breadcrumbs>
</section>
<section>
  <app-terrain-detail-slider
    [terrainData]="terrainData"
  ></app-terrain-detail-slider>
</section>
<section>
  <app-terrain-detail-information 
  [terrainData]="terrainData"
  ></app-terrain-detail-information>
</section>
<section><app-terrain-detail-features
  [terrainData]="terrainData"
  ></app-terrain-detail-features>
</section>
<section><app-terrain-detail-info-box
  [terrainData]="terrainData"
  ></app-terrain-detail-info-box>
</section>
<section><app-contact></app-contact></section>
