<div class="info__container__terrain">
    <div class="column-1 container__info">
      <h1>Conoce nuestros terrenos</h1>
      <h3>Invierte en la mejor opción para tu negocio</h3>
      <p>Tenemos los terrenos ideales para hacer crecer tu negocio. Ubicados estratégicamente en las regiones de Lima, Arequipa,
        Trujillo, Chiclayo, Piura, Huancayo, Tacna y más. Contáctate con nosotros para conocer nuestras ubicaciones.</p>
    </div>
      <app-terrain-card [ifSlider]="ifSlider" [ifSliderIMG]="ifSliderIMG"></app-terrain-card>
      <a href="/terrenos"class="button__main"> Ver todas <img src="assets/images/icons/arrow-button.svg" alt=""></a>
</div>
<div class="container">
  <app-terrain-box></app-terrain-box>
</div>