<div class="cta__container">
  <div class="cta__content">
    <div class="cta__item">
      <div class="cta__square green">
        <img src="assets/images/icons/oferta.svg" alt="" />
        <p>Terrenos desde 1,000m<sup>2</sup> hasta 50 hectáreas</p>
      </div>
      <div class="cta__empty"></div>
    </div>
    <div class="cta__item">
      <div class="cta__empty"></div>
      <div class="cta__square black">
        <img src="assets/images/icons/map-marker.svg" alt="" />
        <p>
          Ubicaciones estratégicas para proyectos residenciales, comerciales e
          industriales
        </p>
      </div>
    </div>
    <div class="cta__item">
      <div class="cta__square green">
        <img src="assets/images/icons/statistics.svg" alt="" />
        <p>Venta consultiva y asesoría personalizada</p>
      </div>
      <div class="cta__empty"></div>
    </div>
    <div class="cta__item">
      <div class="cta__empty"></div>
      <div class="cta__square black">
        <img
          src="assets/images/icons/peru.svg"
          alt=""
          width="68px"
          height="88px"
        />
        <p>Contamos con el banco de tierras más grande del Perú</p>
      </div>
    </div>
  </div>
</div>
