<div class="succeeded__container">
  <div class="succeeded__content">
    <div class="succeeded__image">
      <div class="item item--1" style="--d: 0s"></div>
      <div class="item item--2" style="--d: -2s"></div>
      <div class="item item--3" style="--d: -4s"></div>
      <div class="item item--4" style="--d: -6s"></div>
    </div>
    <p><b>Gracias por escribirnos, su registro ha sido un éxito</b></p>
    <p>En unos instantes, nuestro equipo se pondrá en contacto contigo</p>
    <div class="succeeded__button">
      <a href="/"
        ><button class="button__main button__succeeded">
          Regresar a la página
        </button></a
      >
    </div>
  </div>
</div>
