<div class="container">
    <div class="column-2_custom z-index1 m-auto">
        <div class="text__description">
            <h1>__Nuestros terrenos</h1>
            <h2>Conoce las opciones que tenemos para ti. 
                Tenemos más de 25 ubicaciones estratégicas para que desarrolles tu negocio.</h2>
        </div>
        <a href="/contacto" class="text__cta">
            Contáctanos
            <img src="assets/images/icons/arrow-button.svg" alt=""
        /></a>
    </div>
    <div class="column-2_custom z-index1 m-auto">
        <div class="container_slider">
            <app-slider-main></app-slider-main>
        </div>
    </div>
</div>


