<div class="container padding_container">
  <div class="column-1">
    <div class="container__info">
      <h1>¿Quiénes Somos?</h1>
      <h3>Centenario, solo si quieres lo mejor</h3>
      <p>Centenario Macrolotes, es una nueva unidad de negocios de Grupo Centenario a través de la cual vendemos terrenos de gran extensión 
      ubicados en las principales ciudades de Perú. Junto a nuestros demás negocios de venta de lotes industriales y de vivienda, y los de 
      renta de oficinas y locales comerciales, te ofrecemos una amplia experiencia en el rubro inmobiliario con más de 91 años en el mercado.</p>
    </div>
    <app-info-box></app-info-box>
    <a href="contacto" class="button__main">Contáctanos <img src="assets/images/icons/arrow-button.svg" alt=""></a>
  </div>
</div>
