<div class="section_header"></div>
<div class="container">
  <div class="column-2_custom z-index1 m-auto">
      <div class="text__description">
          <h1>__Contacto</h1>
          <h2>Tenemos los macrolotes ideales para desarrollos 
            inmobiliarios de todo tipo. Encuentra el terreno ideal para tu negocio.</h2>
          <div class="info__number">
            <img src="/assets/images/icons/telephone.svg" alt="" />
            <p>
              <a href="tel:016169000">01 616 9000</a> /
              <a href="tel:+51 948 433 581">+51 948 433 581</a>
            </p>
          </div>
          <div class="info__email">
            <img src="/assets/images/icons/correo-electronico.svg" alt="" />
            <p>
              <a href="mailto:macrolotes@centenario.com.pe"
                >macrolotes@centenario.com.pe</a
              >
            </p>
          </div>
      </div>
  </div>
  <div class="column-2_custom z-index1 m-auto">
      <div class="container_slider">
        <div class="contacts__form">
          <app-form [formContactUs]="true"></app-form>
        </div>
      </div>
  </div>
</div>




