<div class="footer__container">
  <p>Copyright 2021. Centenario Macrolotes - Todos los derechos reservados.</p>
</div>
<div class="footer__tos container-max">
  <div class="column-4 m-auto">
    <img
      class="footer__logo"
      src="assets/images/footer/grupo-centenario.svg"
      alt=""
    />
  </div>
  <div class="column-2 m-auto">
    <ul>
      <li>
        <a
          href="/terminos-y-condiciones"
          target="_blank"
          style="color: black; text-decoration: underline"
          >Términos y Condiciones</a
        >
      </li>
      <li>
        <a
          href="/politicas-de-privacidad"
          target="_blank"
          style="color: black; text-decoration: underline"
          >Políticas de Privacidad</a
        >
      </li>
      <li>
        <a
          href="/fines-adicionales"
          target="_blank"
          style="color: black; text-decoration: underline"
          >Fines Adicionales</a
        >
      </li>
    </ul>
  </div>
  <div class="column-4 m-auto">
    <ul>
      <li>
        <div class="phone">
          <img
            class="footer__logo logo-phone"
            src="assets/images/icons/telephone.svg"
            alt=""
          />
          <p>
            <a href="tel:016169000" style="color: black"><u>01 616.9000</u></a>
            /
            <a href="tel:+51948433581" style="color: black"
              ><u>+51 948.433.581</u></a
            >
          </p>
        </div>
      </li>
      <li>
        <div class="email">
          <img
            class="footer__logo logo-email"
            src="assets/images/icons/correo-electronico.svg"
            alt=""
          />
          <a href="mailto:macrolotes@centenario.com.pe" style="color: black"
            ><u>macrolotes@centenario.com.pe</u></a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
