<div class="container">
  <div class="column-2_custom z-index1 m-auto">
      <div class="text__description">
          <h1>__¿Quiénes Somos?</h1>
          <h2>Somos un equipo de expertos y te acompañamos con una venta consultiva durante todo el proceso. 
            Además, nos adaptamos a tus necesidades con flexibilidad.<br><br>
            Tenemos más de 91 años de experiencia en el sector inmobiliario. Confía en los expertos.</h2>
            <a href="contacto" class="text__cta">
              Contáctanos
              <img src="assets/images/icons/arrow-button.svg" alt=""
          /></a>
      </div>
  </div>
  <div class="column-2_custom z-index1 m-auto">
      <div class="container_slider">
          <app-slider-main></app-slider-main>
      </div>
  </div>
</div>


