<div
  class="second__section bg-picture"
  [style]="
    'background-image: url(' +
    blobUrl +
    '/terrenos/san_antonio/san-antonio-1.jpg)'
  "
  id="section-2"
>
  <div class="overlay"></div>
  <div class="info__container">
    <h1 class="t-white">¿Sabes que son los macrolotes?</h1>
    <h3>Aquí te contamos un poco más sobre tu próxima inversión</h3>
    <p class="t-white mb-40">
      Los macrolotes son terrenos de gran extensión ubicados en lugares
      estratégicos que cuentan con un entorno de alto valor o con potencial de
      crecimiento. Estas tierras están preparadas para diferentes tipos de
      proyectos, ya sean estos inmobiliarios, residenciales, comerciales,
      industriales o desarrollos a gran escala.
    </p>
    <br />
    <h1 class="t-white">Con el respaldo de Grupo Centenario</h1>
    <h3>Solo si quieres lo mejor</h3>
    <p class="t-white mb-40">
      Centenario Macrolotes, es una nueva unidad de negocios de Grupo Centenario
      a través de la cual vendemos terrenos de gran extensión ubicados en las
      principales ciudades de Perú. Junto a nuestros demás negocios de venta de
      lotes industriales y de vivienda, y los de renta de oficinas y locales
      comerciales, te ofrecemos una amplia experiencia en el rubro inmobiliario
      con más de 91 años en el mercado.
    </p>
    <a href="contacto" class="button__main"
      >Contáctanos <img src="assets/images/icons/arrow-button.svg" alt=""
    /></a>
  </div>
</div>
